<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.youstar.bloggerssport">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.yourstar.cenotomy.Activities.Startup"
        android:allowBackup="true"
        android:icon="@mipmap/glasses"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/glasses"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.yourstar.cenotomy.Activities.SplashScreen"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.yourstar.cenotomy.Activities.Home" />
        <activity android:name="com.yourstar.cenotomy.Activities.ViewPost">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.yourstar.cenotomy.Share"
            android:enabled="true" />

        <service android:name="com.yourstar.cenotomy.FireBaseToken">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name="com.yourstar.cenotomy.MyFireBaseMessaging">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name="com.yourstar.cenotomy.Activities.Select" />

        <receiver
            android:name="com.yourstar.cenotomy.utils.NetworkListener">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>

        </receiver>

    </application>

</manifest>